<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avkonste</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/services.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/component.css">
    <link rel="icon" href="../static/img/png/pngağ.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<header style="background-color: #282828;">
    <div class="headerall container container-lg container-md container-sm ">
        <div class="left">
            <a href="{% url 'index' %}">
                <img src="../static/img/png/pngağ.png" alt="">
            </a>
        </div>
        <div class="right">
            <a href="{% url 'index' %}">Ana səhifə</a>
            <a href="{% url 'services' %}">Xidmətlərimiz</a>
            <a href="{% url 'catalog' %}">Kataloq</a>
            <a href="{% url 'about' %}">Haqqımızda</a>
            <a href="{% url 'contact' %}">Əlaqə</a>
        </div>
        


    </div>

    <div class="mobile-header">
      <div class="mobile-logo">
        <a href="{% url 'index' %}"><img src="../static/img/png/pngağ.png" alt=""></a>
      </div>
      <div class="mobile-bar">
          <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
          
          <div id="myNav" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div class="overlay-content">
                <a href="{% url 'index' %}">Ana səhifə</a>
                <a href="{% url 'services' %}">Xidmətlərimiz</a>
                <a href="{% url 'catalog' %}">Kataloq</a>
                <a href="{% url 'about' %}">Haqqımızda</a>
                <a href="{% url 'contact' %}">Əlaqə</a>
              </div>
              </div>
      </div>
  </div>
</header>


<main>
  <section id="ServicesPage">

    <div class="container">
      <div class="all">
        <div data-aos="zoom-in" data-aos-duration="3000" class="top-text">
          <h3>Xİdmətlərimiz</h3>
          <p>Sizin üçün elədiklərimiz</p>
        </div>
        <div class="bottom-all">
            {% for service in services %}
              <a style="text-decoration:none;" href="{% url 'catalog' %}?tag={{service.tag}}">
                {% if forloop.counter0|divisibleby:2 %}
                    <div class="service" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                {% else %}
                    <div class="service reverseforservices" data-aos="fade-up" data-aos-anchor-placement="center-bottom">
                {% endif %}
                    <div class="left">
                      <img src="{{ service.image.url }}" alt="">
                    </div>
                    <div class="right">
                        <h2>{{ service.title }}</h2>
                        <p>#{{ service.tag }}</p>
                        <p>{{ service.text }}</p>
                    </div>
                </div>
              </a>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>

</main>
<div onclick="OpenFixedBtn()" class="mobile-info-button">
  <i class="fa-solid fa-info"></i>
  <div class="mobile-content">
      <div class="top">
          <a href="https://wa.me/994708851322/"><i  class="fa-brands fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/avkonste/"><i style="margin-left: 15px;" class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="bottom">
          <a href="https://t.me/avkonste"> <i style="margin-top: 15px;"  class="fa-brands fa-telegram"></i></a>
      </div>
  </div>
</div>
<footer>
  <div class="container container-lg container-md container-sm">
    <section id="SectionFooter">
      <div class="left col-6 col-lg-6 col-md-6 col-sm-12">
        <div class="footer-logo">
            <a href="{% url 'index' %}"><img src="../static/img/png/pngağ.png" alt=""></a>
        </div>
        <div class="footer-text">
          <p>Biz sizi sərfəli və vaxtında yola qaytara bilərik.</p>
        </div>
        <div class="footer-icons">
          <a target="_blank" href="https://wa.me/994708851322/"><i  class="fa-brands fa-whatsapp"></i></a>
          <a target="_blank" href="https://www.instagram.com/avkonste/"><i  class="fa-brands fa-instagram"></i></a>
          <a target="_blank" href="https://t.me/avkonste"><i   class="fa-brands fa-telegram"></i></a>
        </div>
      </div>
      <div class="right col-6 col-lg-6 col-md-6 col-sm-12">
        <h5>Əlaqə</h5>
        <div class="footer-contact-us">
          <div class="contact-us-mini-info">
            <p>Telefon:</p>
            <p>+994 70-885-13-22 </p>
          </div>
          <div class="contact-us-mini-info">
            <p>Email:</p>
            <p>info@avkonste.com</p>
            <p> </p>
          </div>
          <div class="contact-us-mini-info">
            <p>İnshaatchlar 26,sumqayıt,Azərbaycan</p>
          </div>
          <div class="contact-us-mini-info">
            <p><a style="color:#595F67; text-decoration:none;" href="https://goo.gl/maps/eJ7Lnp41X4UVLo5z5">Konum</a></p>
            <p></p>
          </div>
        </div>
      </div>
      
    </section>
    
  </div>
  <div class="footer-end">
    <hr >
      <p>© 2023 Transport, All rights reserved.  </p>
  </div>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% comment %} <script>
  const serviceLinks = document.querySelectorAll('.service-link');

serviceLinks.forEach((link) => {
  link.addEventListener('click', (event) => {
    event.preventDefault();
    const tag = link.dataset.tag;
    const url = `/katalog/?tag=${tag}`;
    fetch(url)
      .then((response) => response.text())
      .then((html) => {
        window.location.href = url;
      })
      .catch((error) => {
        console.error(error);
      });

  });
});
</script> {% endcomment %}
<script src="../static/js/app.js"></script>

</body>
</html>