#ServicesPage{
    background: #D6D6D6;
        text-align: center;
        padding: 150px 0px;
    .all{
        
        .top-text{
            h3{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 56px;
                color: rgba(0, 0, 0, 0.87);
            }
            margin-bottom: 50px;
        }
        .bottom-all{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .left{
                
                iframe{
                    width: 100%;
                }
            }
            .right{
                
                ul{
                    width: 100%;
                    list-style: none;
                    text-align: center;
                    li{
                        padding: 27px 0px;
                        background-color: white;
                        transition: 1s;
                        &:hover{
                            cursor: pointer;
                            background-color: #282828;
                            
                        }
                        &:hover a{
                            color: white;
                        }
                        
                    }
                    li a{
                        text-decoration: none;   
                        font-size: 24px;
                        color: #282828;
                    }
                    li i{
                        padding-right: 20px;
                    }
                }
            }
        }
        
    }
}
